<h1>Who's Who in FoodView?</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to "#{user.email}", user_path(user), html_options = { id: "index-link"} %></li>
    <ul>
      <li># of Dishes: <%= user.dishes.count %></li>
      <li># of Restaurants: <%= user.restaurants.count %></li>
    </ul>
    <br>
  <% end %>
</ul>